.portfolio-preview {
    //background-image: url('../../assets/portfolio-background.jpg');
    padding-top: 90px;
    //background: linear-gradient(0deg, rgba(0,0,0,0) 40%, #111111 70%);
    background: linear-gradient(0deg, #111111 70%, rgba(0,0,0,0) 98%);
   // background: linear-gradient(0deg, #111111 0%, rgba(0,0,0,0) 70%);

    .section-title {
        text-align: center;
        color: rgb(219, 219, 219);
        font-size: 40px;
        font-style: bold;
    } 
    
    .project-container {
       // margin: 0px 40px;
        padding: 0px 120px;
        height: 800px;
        background-color: rgba($color: #000000, $alpha: 0)
    
    
    }
}

