.welcome {

    display: flex;
    flex-direction: column;
    color: #cecece;
    margin-top: 50px;
    margin-right: 40px;
    
    .intro {
        font-size: 60px;
    }
   
    .welcome-main {

        font-size: 36px;
        // font-style: italic;
        animation: 2s ease-out transitionIn;

    }

    .welcome-sub {
        display: flex;
        justify-content: space-between;

        .sub-text {
            width: 70%;
        }
        .button-portfolio {
            margin-right: 40px;
            font-size: 20px;
            background-color: #292727;
            height: 60px;
        }
    }

    @keyframes transitionIn {
        from {
            opacity: 0%;
            transform: rotateX(-10deg)
        }

        to {
            from {
                opacity: 100%;
                transform: rotateX(0)
            }
        }
    }
}