.skills-container {
    display:flex;
    justify-content: space-around;
    margin-top: 70px;
    height: 250px;
    

    .skill-group {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px 20px 0px 0px;
        margin-bottom: 20px;

       

        .skills {
            display: flex;
            justify-content: space-evenly;
            margin-top: 20px;
            flex-wrap: wrap;
            widows: 100%;
          
            .icon-name {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 20px;
                padding: 10px 25px;
            }
        }

        .button-resume {
            background-color:#0065d1;

        
            &:hover {
                background-color:#007bff;
                transition: 0.3s ease-out;
                }
        }

    }
    

    h5 {
        margin: 0px auto;
        font-weight: bold;
        font-size: 20px;
        color: rgb(245, 245, 245);
        border-style: solid;
        padding-bottom: 10px;
        border-color: rgba(250, 111, 30, 0.8);
        border-width: 0px 0px 2px 0px;
        width: 250px;
        text-align: center;
    }

    span {
        font-size: 15px;
        padding-top: 5px;
        font-family: 'Cabin', sans-serif;

    }

    button {
        display: flex;
        align-items: center;
        height: 60px;
        width: fit-content;
        border: none;
        padding: 20px 15px;
        border-radius: 5px;
        color: white;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s ease-in;
        
    }
}