.skills-container {
    display:flex;
    align-items: center;
    padding: 10px 0px;

    .seperator {
        width: 1px;
        height: 100px;
        background-color: #292727;
       
        // padding-top: 100px;
    }

    .skill-group {
        width: 330px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px 20px 0px 0px;

        .skills {
            display: flex;
            justify-content: space-evenly;
            margin-top: 20px;
            flex-wrap: wrap;
            
            .icon-name {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px 20px;
            }
        }
       
    }
    

    h5 {
        margin: 0px auto;
        font-weight: bold;
    }

    span {
        font-size: 12px;
        padding-top: 5px;
    }
}