
    .github-btn {
        padding: 10px 15px;
        background-color: #333;
        &:hover {
            background-color: rgb(73, 73, 73);
            transition: 0.3s ease-out;   
        }
    }

    .icon-circle-btn {

        background-color: rgba(51, 51, 51, 0);
        border-radius: 50%;
        padding: 0px;
        margin: 0px 10px;
        height: auto;
        
        img {
            height: 32px;
            width: auto;
        }

        &:hover {

            background-color: rgba(250, 111, 30, 0.9);
            transition: 0.3s ease-out;
        }
        
    }



    .demo-btn {
        padding: 10px 15px;
        background-color:#0065d1;
        &:hover {
            background-color:#007bff;
            transition: 0.3s ease-out;
        }
    }

    .linkedin-btn {
        padding: 10px 15px;
        background-color: #0e76a8;
        margin-left: 10px;
        &:hover {
            background-color:#1e9fdb;
            transition: 0.3s ease-out;   
        }
    }



    button {
        display: flex;
        align-items: center;
        height: 60px;
        width: fit-content;
        border: none;
        
        border-radius: 5px;
        color: white;
        font-size: 18px;
        text-align: justify;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s ease-in;
        
    }

    img {
        // padding: 5px;
        height: 26px;
        width: auto;
    }

