.header-wrapper {
    background-color: #111111;
    /* background: linear-gradient(45deg, #161616 50%, #131313 70%); */

    width: 100vw;
    height: 75px;
    top: 0%;
    position: fixed;
    z-index: 100;
    /* border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 0px 0px 2px 0px; */
}

.header
{
    position: absolute;
    padding-top: 100px;
    width: 500px;
    display: flex;
    margin: 0px auto;
    transform: translateY(-50%);
    margin-left: 500px;
    margin-right: 500px;

    
    /* top: 0; */
}

.header .option
{
    position: relative;
    width: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #757575;
    text-decoration: none;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: 'Cabin', sans-serif; */
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 10px 30px;
    /* margin: 0px 2px; */
    transition: 0.2s ease color;
  
}


.header .option:before, .header .option:after
{
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

.header .option:before
{
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

.header .option:after
{
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px
}

.header .option:nth-child(1):before, .header .option:nth-child(2):before, .header .option:nth-child(3):before, .header .option:nth-child(4):before
{
    background-color: rgba(250, 111, 30, 1);
}

.header .option:nth-child(1):after, .header .option:nth-child(2):after, .header .option:nth-child(3):after, .header .option:nth-child(4):after
{
    background-color:rgb(255, 255, 255);
}

/* .header .option:nth-child(2):before
{
    background-color: rgb(255, 0, 0);
    /* background-color: #00e2ff; */


/* .header .option:nth-child(2):after
{
    background-color: rgb(0, 0, 0);
    /* background-color: #89ff00; 
}

.header .option:nth-child(3):before
{
    background-color: purple;
}

.header .option:nth-child(3):after
{
    background-color: palevioletred;
}

.header .option:nth-child(4):before
{
    background-color: purple;
}

.header .option:nth-child(5):after
{
    background-color: palevioletred;
} */ 

#indicator
{
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 110px;
    /* width: 7em; */
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

.header .option:hover, .header .selected1, .header .selected2, .header .selected3, .header .selected4
{
    color: #fff;
}

.header .option:hover:before, .header :hover:after
{
    transform: scale(1);
}

.header .option:nth-child(1):hover ~ #indicator, .header .selected1 ~ #indicator
{
    /* background: linear-gradient(130deg, rgb(255, 255, 255), rgb(255, 253, 253)); */
    background-color: rgba(250, 111, 30, 1);
    /* width: 33.33%;  */
    left:0%;
}

.header .option:nth-child(2):hover ~ #indicator, .header .selected2 ~ #indicator
{
    left: 25%;
    background-color: rgba(250, 111, 30, 1);
    /* background: linear-gradient(130deg, rgb(255, 255, 255), rgb(255, 253, 253)); */

    /* background: linear-gradient(130deg, #00e2ff, #89ff00); */
}

.header .option:nth-child(3):hover ~ #indicator, .header .selected3 ~ #indicator
{
    left: 50%;
    background-color: rgba(250, 111, 30, 1);
    /* background: linear-gradient(130deg, rgb(255, 255, 255), rgb(255, 253, 253)); */

    /* background: linear-gradient(130deg, purple, palevioletred); */
}

.header .option:nth-child(4):hover ~ #indicator, .header .selected4 ~ #indicator
{
    left: 73%;
    background-color: rgba(250, 111, 30, 1);
    /* background: linear-gradient(130deg, rgb(255, 255, 255), rgb(255, 253, 253)); */

    /* background: linear-gradient(130deg, purple, palevioletred); */
}