.header
{
    position: absolute;
    top: 5%;
    right: 0;
    left:0;
    width: 360px;
    display: flex;
    margin: 0px auto;
    transform: translateY(-50%);
}

.header .option
{
    position: relative;
    /* width: 33.333%; */
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #949494;
    text-decoration: none;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 30px;
    transition: 0.2s ease color;
  
}


.header .option:before, .header .option:after
{
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

.header .option:before
{
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

.header .option:after
{
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px
}

.header .option:nth-child(1):before
{
    background-color: yellow;
}

.header .option:nth-child(1):after
{
    background-color: red;
}

.header .option:nth-child(2):before
{
    background-color: #00e2ff;
}

.header .option:nth-child(2):after
{
    background-color: #89ff00;
}

.header .option:nth-child(3):before
{
    background-color: purple;
}

.header .option:nth-child(3):after
{
    background-color: palevioletred;
}

.header .option:nth-child(4):before
{
    background-color: purple;
}

.header .option:nth-child(5):after
{
    background-color: palevioletred;
}

#indicator
{
    position: absolute;
    left: 0%;
    bottom: 0;
    /* width: 390px; */
    width: 1em;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

.header .option:hover, .header .selected
{
    color: #fff;
}

.header .option:hover:before, .header :hover:after
{
    transform: scale(1);
}

.header .option:nth-child(1):hover ~ #indicator, .header .selected ~ #indicator
{
    background: linear-gradient(130deg, yellow, red);
    width: 33.33%;
}

.header .option:nth-child(2):hover ~ #indicator
{
    left: 33.33%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

.header .option:nth-child(3):hover ~ #indicator
{
    left: 70%;
    background: linear-gradient(130deg, purple, palevioletred);
}

/* #ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-family: Arial;
  font-size: 14px;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
  z-index: 125;
} */