
.App {
    margin: 0;
    background-color: #292727;
    overflow: hidden; 
    padding: 20px;
    height: 1100px;
   

    a {
        text-decoration: none;
        color: black;
      }
      
}

