
.App {
    margin: 0;
    //background-color: #292727;
    background-color: rgba($color: #1b1b1b, $alpha: 1);
   
    font-family: 'Cabin', sans-serif;


    // font-family: 'Righteous', cursive;



    overflow: hidden; 
    padding: 0px 0px;
    height: auto;
    // background-image: url("./assets/main-background1.jpg");
    background-size: contain;
   
  
    a {
        text-decoration: none;
        color: #e7e4e4;
        line-height: 1.6;
        word-spacing: 2px;
      }

     
      
}

