
.App {
    margin: 0;
    // background-color: #292727;
    background-color: rgba($color: #1c1b1a, $alpha: 1);
    overflow: hidden; 
    padding: 20px 0px;
    height: auto;
    // background-image: url("./assets/main-background1.jpg");
    background-size: contain;
   
  
    a {
        text-decoration: none;
        color: black;
      }
      
}

