.homePage {
    height: fit-content;

    .home-container {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #111111 90%);
        display: flex;
        // flex-direction: row;
        margin-top: 60px 0px;
        padding: 20px 80px;
        

        height: 800px;
       
    }

    .seperator {
        border-bottom-style: solid;
        border-color: rgba(250, 111, 30, 0);
        border-width: 1px;
        margin: 0px 80px;
    }

}



    // border-radius: 10px;
    // box-shadow: 0 8px 40px rgba(#000000, 0.2);
    // border-width: 5px;


    // .row {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    // }



