.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
    .row {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        
        .detail {
            // font-weight: bolder;
        
            font-family: 'Roboto', sans-serif;
            color: #ffffff;
            font-size: 14px;
            word-spacing: 2px;
            letter-spacing: 0.2px;
            padding-left: 30px;
         }
        
    }

}

